
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Satoshi */

@font-face {
	font-family: 'Satoshi';
	src: url('../fonts/Satoshi-Regular.woff2') format('woff2'),
		url('../fonts/Satoshi-Regular.woff') format('woff');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'Satoshi';
	src: url('../fonts/Satoshi-Medium.woff2') format('woff2'),
		url('../fonts/Satoshi-Medium.woff') format('woff');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'Satoshi';
	src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
		url('../fonts/Satoshi-Bold.woff') format('woff');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

/* Integral CF */

@font-face {
	font-family: 'Integral CF';
	src: url('../fonts/integralcf-bold.woff2') format('woff2'),
		url('../fonts/integralcf-bold.woff') format('woff');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}


